.overlay {
    margin: 0;
    padding-left: 0;
    padding-bottom: 94px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * #{$card-sat-gap});
    margin-top: calc(-1 * #{$card-sat-gap});
  }
  
  .overlay__photo-active {
    flex-basis: calc (100px / 3 - #{$card-sat-gap});
    margin-left: $card-sat-gap;
    margin-top: $card-sat-gap;
  }
  
  .text-content {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 20px 24px;
  }
  
  .card__text {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  
  .card__thumb {
    position: relative;
    overflow: hidden;
  }
  .card__portfolio {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .overlay__link:hover .card__portfolio,
  .overlay__link:focus .card__portfolio {
    opacity: 1;
    transform: translateY(0);
  }
  .overlay__link:hover .text-content,
  .overlay__link:focus .text-content {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }